.jumbotron {
  padding-top: 6rem;
  background-color: #ffffff;
}
#galery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.galery-img{
  width: 100%;
}

#galery .row > * {
  padding: 0;
}

/* My book Section */
.book-box{
  position: relative;
  background-color: #6C757D;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;

}

.book-box::before{
  content: 'MY';
  position: absolute;
  color: #ffffff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.book-box:hover::before{
  opacity: 0.2;
}

.book-box::after{
  content: 'BOOK';
  position: absolute;
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.book-box:hover::after{
  opacity: 0.2;
}

.book-name{
  position: absolute;
  top: 50px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0,0,50px);
  transition: 0.5s;
}

.book-box:hover .book-name{
  top: 20px;
  opacity: 1;
}

.book-details-button{
  position: relative;
  top: 400px;
  left: 50%;
  transform: translate3d(-50%, 0, 80px);
  opacity: 0;
  transition: 0.5s;
  z-index: 3;
}

.book-img{
  position: absolute;
  top: 52%;
  left: 50%;
  transform:  translate3d(-50%, -52%, 80px);
  max-width: 200px;
  transition: 0.5s;
  z-index: 2;
}

.book-box:hover .book-img{
  transform: translate3d(-50%, -52%, 100px) rotate(-5deg) scale(1.2);
}